@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3, h4, h5, h6 {
    @apply text-black dark:text-white;
}

h4 {
    @apply tracking-body-d;
}

#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

[x-cloak] {
    display: none;
}

@layer components {
    p {
        @apply tracking-body-d leading-6 font-medium text-steel dark:text-concrete;
    }
}

iframe:focus {
    outline:none;
}

body {
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade-in,
.fade-in-grid,
.fade-in-up {
    opacity: 0;
}

html:has(.dark)  {
    @apply bg-black;
}
