@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

[x-cloak] {
    display: none;
}

@layer components {
    p {
        @apply tracking-body-d leading-6 font-medium text-steel;
    }
}

.split-words {
    visibility: hidden;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

iframe:focus {
    outline:none;
}

body {
    animation: fadeInAnimation ease 0.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.box {
    /*opacity: 0;*/
}



.fade-in,
.fade-in-grid,
.fade-in-up {
    opacity: 0;
}
